In [1]:
import pandas as pd

In [2]:
import os
os.chdir("D:\current work  directory")

In [3]:
data=pd.read_csv("Q3_Sikka data.csv")

In [4]:
data

          Date    DAU  Installs  Uninstalls  Signups  Referrals
0   2022-10-01  24071      6630        6994     3511      962.0
1   2022-10-02  23548      6366        6669     3387      941.0
2   2022-10-03  24572      6936        6899     3654      940.0
3   2022-10-04  24212      6561        6766     3532      960.0
4   2022-10-05  23247      6059        6402     3315      923.0
5   2022-10-06  24330      6230        6780     3288      822.0
6   2022-10-07  24213      6925        7073     3562      957.0
7   2022-10-08  25099      7826        7790     4110      994.0
8   2022-10-09  24099      8937        8149     4114     1016.0
9   2022-10-10  25156      8139        8215     4974     1186.0
10  2022-10-11  24497      7308        7532     4347     1161.0
11  2022-10-12  24152      8020        7867     4404     1193.0
12  2022-10-13  24094      7097        7081     4211      987.0
13  2022-10-14  21589      6729        7065     3494      860.0
14  2022-10-15  20829      5659        6519     2967      772.0
15  2022-10-16  22222      5861        6552     3096     1052.0
16  2022-10-17  20943      5860        6455     2828      801.0
17  2022-10-18  20180      6070        6611     2559      572.0
18  2022-10-19  19737      5267        6102     2278      606.0
19  2022-10-20  20148      5467        6125     2854      700.0
20  2022-10-21  17343      3845        4916     1726      512.0
21  2022-10-22  16270      3703        4727     1705      530.0
22  2022-10-23  15223      3397        4314     1545      484.0
23  2022-10-24  13482      3074        3904     1363      384.0
24  2022-10-25  14244      3714        4541     1658      435.0
25  2022-10-26  14659      3885        4564     1740      491.0
26  2022-10-27  14896      3707        4563     1905      551.0
27  2022-10-28  14473      3735        4381     1799      555.0
28  2022-10-29  13390      4072        4695     1872      536.0
29  2022-10-30  13370      3543        4343     1942      573.0
30  2022-10-31  13236      3313        4057     1562      419.0
31  2022-11-01  12816      3763        4149     1806        NaN
32  2022-11-02  12812      3087        3868     1550        NaN
33  2022-11-03  12042      3176        3815     1410        NaN
34  2022-11-04  12595      3172        3878     1629        NaN
35  2022-11-05  12361      3390        4021     1578        NaN
36  2022-11-06  13166      3441        4071     1656        NaN
37  2022-11-07  12565      3468        4011     1556        NaN
38  2022-11-08  12988      4468        4143     1808        NaN
39  2022-11-09  12992      4491        4638     2017        NaN
40  2022-11-10  13377      4261        4480     1997        NaN
41  2022-11-11  13826      4274        4512     2047        NaN
42  2022-11-12  13464      4660        4856     2066        NaN
43  2022-11-13  13415      4416        4749     2147        NaN
44  2022-11-14  13873      4097        4305     2065        NaN
45  2022-11-15  14459      4890        4593     2707        NaN

In [64]:
data['Date'] = pd.to_datetime(data['Date']).dt.date
data

          Date    DAU  Installs  Uninstalls  Signups   Referrals
0   2022-10-01  24071      6630        6994     3511   962.00000
1   2022-10-02  23548      6366        6669     3387   941.00000
2   2022-10-03  24572      6936        6899     3654   940.00000
3   2022-10-04  24212      6561        6766     3532   960.00000
4   2022-10-05  23247      6059        6402     3315   923.00000
5   2022-10-06  24330      6230        6780     3288   822.00000
6   2022-10-07  24213      6925        7073     3562   957.00000
7   2022-10-08  25099      7826        7790     4110   994.00000
8   2022-10-09  24099      8937        8149     4114  1016.00000
9   2022-10-10  25156      8139        8215     4974  1186.00000
10  2022-10-11  24497      7308        7532     4347  1161.00000
11  2022-10-12  24152      8020        7867     4404  1193.00000
12  2022-10-13  24094      7097        7081     4211   987.00000
13  2022-10-14  21589      6729        7065     3494   860.00000
14  2022-10-15  20829      5659        6519     2967   772.00000
15  2022-10-16  22222      5861        6552     3096  1052.00000
16  2022-10-17  20943      5860        6455     2828   801.00000
17  2022-10-18  20180      6070        6611     2559   572.00000
18  2022-10-19  19737      5267        6102     2278   606.00000
19  2022-10-20  20148      5467        6125     2854   700.00000
20  2022-10-21  17343      3845        4916     1726   512.00000
21  2022-10-22  16270      3703        4727     1705   530.00000
22  2022-10-23  15223      3397        4314     1545   484.00000
23  2022-10-24  13482      3074        3904     1363   384.00000
24  2022-10-25  14244      3714        4541     1658   435.00000
25  2022-10-26  14659      3885        4564     1740   491.00000
26  2022-10-27  14896      3707        4563     1905   551.00000
27  2022-10-28  14473      3735        4381     1799   555.00000
28  2022-10-29  13390      4072        4695     1872   536.00000
29  2022-10-30  13370      3543        4343     1942   573.00000
30  2022-10-31  13236      3313        4057     1562   419.00000
31  2022-11-01  12816      3763        4149     1806   770.16129
32  2022-11-02  12812      3087        3868     1550   770.16129
33  2022-11-03  12042      3176        3815     1410   770.16129
34  2022-11-04  12595      3172        3878     1629   770.16129
35  2022-11-05  12361      3390        4021     1578   770.16129
36  2022-11-06  13166      3441        4071     1656   770.16129
37  2022-11-07  12565      3468        4011     1556   770.16129
38  2022-11-08  12988      4468        4143     1808   770.16129
39  2022-11-09  12992      4491        4638     2017   770.16129
40  2022-11-10  13377      4261        4480     1997   770.16129
41  2022-11-11  13826      4274        4512     2047   770.16129
42  2022-11-12  13464      4660        4856     2066   770.16129
43  2022-11-13  13415      4416        4749     2147   770.16129
44  2022-11-14  13873      4097        4305     2065   770.16129
45  2022-11-15  14459      4890        4593     2707   770.16129

In [65]:
data.drop(["Date"], axis = 1, inplace = True)

In [5]:
data.dtypes

Date           object
DAU             int64
Installs        int64
Uninstalls      int64
Signups         int64
Referrals     float64
dtype: object

In [6]:
data.shape

(46, 6)

In [66]:
data.columns

Index(['DAU', 'Installs', 'Uninstalls', 'Signups', 'Referrals'], dtype='object')

In [67]:
data.describe()

                DAU     Installs   Uninstalls      Signups    Referrals
count     46.000000    46.000000    46.000000    46.000000    46.000000
mean   17788.586957  5064.978261  5494.347826  2550.891304   770.161290
std     4892.080923  1624.796773  1402.885078   991.987348   203.873392
min    12042.000000  3074.000000  3815.000000  1363.000000   384.000000
25%    13380.250000  3708.750000  4321.250000  1729.500000   581.250000
50%    15059.500000  4479.500000  4738.000000  2065.500000   770.161290
75%    23472.750000  6332.000000  6741.750000  3369.000000   935.750000
max    25156.000000  8937.000000  8215.000000  4974.000000  1193.000000

In [9]:
col_name=data.columns
for i in col_name:
    print(data[i].unique())

['2022-10-01' '2022-10-02' '2022-10-03' '2022-10-04' '2022-10-05'
 '2022-10-06' '2022-10-07' '2022-10-08' '2022-10-09' '2022-10-10'
 '2022-10-11' '2022-10-12' '2022-10-13' '2022-10-14' '2022-10-15'
 '2022-10-16' '2022-10-17' '2022-10-18' '2022-10-19' '2022-10-20'
 '2022-10-21' '2022-10-22' '2022-10-23' '2022-10-24' '2022-10-25'
 '2022-10-26' '2022-10-27' '2022-10-28' '2022-10-29' '2022-10-30'
 '2022-10-31' '2022-11-01' '2022-11-02' '2022-11-03' '2022-11-04'
 '2022-11-05' '2022-11-06' '2022-11-07' '2022-11-08' '2022-11-09'
 '2022-11-10' '2022-11-11' '2022-11-12' '2022-11-13' '2022-11-14'
 '2022-11-15']
[24071 23548 24572 24212 23247 24330 24213 25099 24099 25156 24497 24152
 24094 21589 20829 22222 20943 20180 19737 20148 17343 16270 15223 13482
 14244 14659 14896 14473 13390 13370 13236 12816 12812 12042 12595 12361
 13166 12565 12988 12992 13377 13826 13464 13415 13873 14459]
[6630 6366 6936 6561 6059 6230 6925 7826 8937 8139 7308 8020 7097 6729
 5659 5861 5860 6070 5267 5467 3845 3703 3397 3074 3714 3885 3707 3735
 4072 3543 3313 3763 3087 3176 3172 3390 3441 3468 4468 4491 4261 4274
 4660 4416 4097 4890]
[6994 6669 6899 6766 6402 6780 7073 7790 8149 8215 7532 7867 7081 7065
 6519 6552 6455 6611 6102 6125 4916 4727 4314 3904 4541 4564 4563 4381
 4695 4343 4057 4149 3868 3815 3878 4021 4071 4011 4143 4638 4480 4512
 4856 4749 4305 4593]
[3511 3387 3654 3532 3315 3288 3562 4110 4114 4974 4347 4404 4211 3494
 2967 3096 2828 2559 2278 2854 1726 1705 1545 1363 1658 1740 1905 1799
 1872 1942 1562 1806 1550 1410 1629 1578 1656 1556 1808 2017 1997 2047
 2066 2147 2065 2707]
[ 962.  941.  940.  960.  923.  822.  957.  994. 1016. 1186. 1161. 1193.
  987.  860.  772. 1052.  801.  572.  606.  700.  512.  530.  484.  384.
  435.  491.  551.  555.  536.  573.  419.   nan]

In [68]:
data.isnull().sum()

DAU           0
Installs      0
Uninstalls    0
Signups       0
Referrals     0
dtype: int64

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DAU         46 non-null     int64
 1   Installs    46 non-null     int64
 2   Uninstalls  46 non-null     int64
 3   Signups     46 non-null     int64
 4   Referrals   46 non-null     float64
dtypes: float64(1), int64(4)
memory usage: 1.9 KB

In [70]:
mean=data["Referrals"].mean()

In [71]:
data["Referrals"].fillna(value=mean,inplace=True)

In [72]:
data

      DAU  Installs  Uninstalls  Signups   Referrals
0   24071      6630        6994     3511   962.00000
1   23548      6366        6669     3387   941.00000
2   24572      6936        6899     3654   940.00000
3   24212      6561        6766     3532   960.00000
4   23247      6059        6402     3315   923.00000
5   24330      6230        6780     3288   822.00000
6   24213      6925        7073     3562   957.00000
7   25099      7826        7790     4110   994.00000
8   24099      8937        8149     4114  1016.00000
9   25156      8139        8215     4974  1186.00000
10  24497      7308        7532     4347  1161.00000
11  24152      8020        7867     4404  1193.00000
12  24094      7097        7081     4211   987.00000
13  21589      6729        7065     3494   860.00000
14  20829      5659        6519     2967   772.00000
15  22222      5861        6552     3096  1052.00000
16  20943      5860        6455     2828   801.00000
17  20180      6070        6611     2559   572.00000
18  19737      5267        6102     2278   606.00000
19  20148      5467        6125     2854   700.00000
20  17343      3845        4916     1726   512.00000
21  16270      3703        4727     1705   530.00000
22  15223      3397        4314     1545   484.00000
23  13482      3074        3904     1363   384.00000
24  14244      3714        4541     1658   435.00000
25  14659      3885        4564     1740   491.00000
26  14896      3707        4563     1905   551.00000
27  14473      3735        4381     1799   555.00000
28  13390      4072        4695     1872   536.00000
29  13370      3543        4343     1942   573.00000
30  13236      3313        4057     1562   419.00000
31  12816      3763        4149     1806   770.16129
32  12812      3087        3868     1550   770.16129
33  12042      3176        3815     1410   770.16129
34  12595      3172        3878     1629   770.16129
35  12361      3390        4021     1578   770.16129
36  13166      3441        4071     1656   770.16129
37  12565      3468        4011     1556   770.16129
38  12988      4468        4143     1808   770.16129
39  12992      4491        4638     2017   770.16129
40  13377      4261        4480     1997   770.16129
41  13826      4274        4512     2047   770.16129
42  13464      4660        4856     2066   770.16129
43  13415      4416        4749     2147   770.16129
44  13873      4097        4305     2065   770.16129
45  14459      4890        4593     2707   770.16129

In [75]:
df=data["Referrals"]

In [76]:
d=df.astype(str)

In [73]:
x=data.drop("Referrals",axis=1)
y=d

In [77]:
d.dtypes

dtype('O')

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [80]:
x_train

      DAU  Installs  Uninstalls  Signups
6   24213      6925        7073     3562
24  14244      3714        4541     1658
32  12812      3087        3868     1550
19  20148      5467        6125     2854
17  20180      6070        6611     2559
13  21589      6729        7065     3494
43  13415      4416        4749     2147
15  22222      5861        6552     3096
9   25156      8139        8215     4974
16  20943      5860        6455     2828
37  12565      3468        4011     1556
31  12816      3763        4149     1806
27  14473      3735        4381     1799
0   24071      6630        6994     3511
30  13236      3313        4057     1562
29  13370      3543        4343     1942
5   24330      6230        6780     3288
11  24152      8020        7867     4404
33  12042      3176        3815     1410
1   23548      6366        6669     3387
40  13377      4261        4480     1997
21  16270      3703        4727     1705
2   24572      6936        6899     3654
34  12595      3172        3878     1629
23  13482      3074        3904     1363
36  13166      3441        4071     1656
10  24497      7308        7532     4347
22  15223      3397        4314     1545
18  19737      5267        6102     2278
45  14459      4890        4593     2707
20  17343      3845        4916     1726
7   25099      7826        7790     4110
42  13464      4660        4856     2066
14  20829      5659        6519     2967
28  13390      4072        4695     1872
38  12988      4468        4143     1808

In [81]:
from sklearn.linear_model import LinearRegression

In [82]:
y_train

6                 957.0
24                435.0
32    770.1612903225806
19                700.0
17                572.0
13                860.0
43    770.1612903225806
15               1052.0
9                1186.0
16                801.0
37    770.1612903225806
31    770.1612903225806
27                555.0
0                 962.0
30                419.0
29                573.0
5                 822.0
11               1193.0
33    770.1612903225806
1                 941.0
40    770.1612903225806
21                530.0
2                 940.0
34    770.1612903225806
23                384.0
36    770.1612903225806
10               1161.0
22                484.0
18                606.0
45    770.1612903225806
20                512.0
7                 994.0
42    770.1612903225806
14                772.0
28                536.0
38    770.1612903225806
Name: Referrals, dtype: object

In [83]:
model=LinearRegression()

In [84]:
model.fit(x_train,y_train)

LinearRegression()

In [87]:
model.score(x_train,y_train)

0.7582811586195807

In [89]:
model.score(x_test,y_test)

0.7375106735622465

In [92]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [98]:
y_pred = model.predict(x_test)
y_pred

array([ 721.99720435,  607.93590577,  644.37280606,  768.07478927,
        618.8643909 ,  738.28017677,  917.51510969, 1141.92184814,
       1057.33071155,  955.10492369])

In [100]:
mean_squared_error(y_test, y_pred)

7438.682935115697

In [102]:
r2_score(y_test,y_pred)

0.7375106735622465